.pagination {
    padding: 8px;
    margin-right: 4px;
    cursor: pointer;
}

.pagination.active {
    background-color: rgb(103, 155, 103);
}

.page.control {
    border: 1px solid #e8e8e8;
    height: 3em;
}

.previous {
    margin-right: 4px;
}